*{
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

div.inventory, div.room-items,div.directions{
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

ul{
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li{
    margin: 5px 20px;
}

form[action="/player"]{
    width: 300px;
    border: 1px solid lightgrey;
    margin: auto;

}
p{
    text-align: center;
}
input, select, button{
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 7px;

}
